name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Clippy and Rustfmt
      run: |
        rustup component add clippy
        rustup component add rustfmt

    - name: Lint
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Check format
      run: cargo fmt --check

    - name: Check
      run: cargo check --verbose --all-features

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Install cargo-msrv
      run: |
        cargo install cargo-msrv
        cargo msrv --version

    - name: Verify rust version
      run: cargo msrv verify --output-format json --all-features
